[Unit]
Description=Run the ClassAdmin Server
After=network.target
StartLimitIntervalSec=0

[Service]
Environment="DISPLAY=:0" "XAUTHORITY=/run/user/1000/.mutter-Xwaylandauth.K4WKF1"
EnvironmentFile=/etc/environment
Type=simple
Restart=always
RestartSec=1000
WorkingDirectory=/etc/ClassAdmin/
User=root
ExecStart=/etc/ClassAdmin/services/ClassAdminS.socket 7788

[Install]
WantedBy=multi-user.target
