{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ihp00">
    <meta name="description" content="ClassAdmin Administration">
    <title>{{title}}</title>
    <link rel="icon" href="{% static 'images/ClassAdminLogo.png' %}">
    <script src="https://kit.fontawesome.com/fd78996b80.js" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="{{id}}" style="{{styleStatusColor}}">
        {% block content %}
        {% endblock %}
    </div>
    <div id="message"></div>
    <script src="{% static 'js/app.js' %}" type="module"></script>
</body>
</html>